page-help {
    .intro {
        //background-image: url('../assets/imgs/intro.jpg');
        color: rgb(245, 246, 248);
    }
    p {
        color: rgba(250, 12, 52, 0.986);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        font-style: italic
    }
}