page-help {
    .intro {
        background-image: url('../assets/imgs/intro.jpg');
    }
    p {
        color: rgb(126, 42, 165);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        font-style: italic
        
    }

}